<h1>Bonjour <%= @reservation.client.name %>,</h1>

<p>Votre rendez-vous du <strong><%= @reservation.availability.date %></strong> à <strong><%= @reservation.time %></strong> a été confirmé.</p>

<p>Merci de votre confiance.</p>
<p>L'équipe</p>
